*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /* GRID */
  .container{
    max-width:120rem;
    margin:0  auto;
    padding:1.5rem;
  }

  /* HEADER */
  .header{
    background: #2b2b2b;
    position: fixed;
    width: 100%;
  }
  .header .branding h3{
    color:#ffffff;
    font-size: 2.5rem;
    font-weight: 600;
  }
  .header .branding h3 span{
    color:#ffa700;
  }
.header .branding{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header .header__nav ul li a{
    color: #ffffff;
    font-size: 1.8rem;
}
.header .header__nav ul{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.header .header__nav ul li:hover a{
    color: #ffa700;
}
header .header__nav ul li:hover{
    scale: 1.1;
    transition: .5s ease;
}
.header .header__wrapper{
display: flex;
align-items: center;
justify-content: space-between;
}
.header  .toggle__menu{
  display:none
}
.header  .toggle__menu span{
  width:3rem;
  height:.3rem;
  border-radius: 5rem;
  background-color:#ffa700;
  display:block;
  transition: .5s ease;
}
.header  .toggle__menu span:nth-child(2){
  margin:.5rem 0;
}
.header  .toggle__menu.open span:first-child{
  transform: translateY(10px) rotate(225deg);
  transition: .5s ease;
}
.header  .toggle__menu.open span:nth-child(2){
  opacity: 0;
}
.header  .toggle__menu.open span:last-child{
  transform: translateY(-7px) rotate(-225deg);
  transition: .5s ease;
}
.header .header__nav.open{
  right: 0rem;
  transition: .5s ease;
}
/* HEADER MOBILE VIEW */
@media screen and (max-width:500px) {
 .header .header__nav{
background: #2b2b2b;
position: absolute;
right: -100rem;
top: 8rem;
width: 100%;
height: 100vh;
padding-top: 10rem;
transition: .5s ease;
 }
 .header .header__nav ul{
  display: flex;
  flex-direction: column;
 }
 .header .branding img{
  width: 5rem;                
 }
 .header  .toggle__menu{
  display:block;
}
}

/* BANNER */
.banner{
padding-top :13rem;
padding-bottom: 5rem;
background: #ffffff;
}
.banner .banner__wrapper{
 display: grid;
 grid-template-columns:1fr 1fr;
 align-items: center;
 gap: 5rem;
}
.banner .banner__text h1 {
  font-size: 10rem;
  font-weight: 800;
  color: #ffa700;
  line-height: 1;
}
.banner .banner__text p{
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: justify;
}
@media screen and (max-width: 500px){
  .banner{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .banner .banner__wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .banner .banner__text{
    order: 2;
  }
  .banner .banner__text h1{
    font-size: 3rem;
    text-align: center;
  }
  .banner .banner__text a{
    display: flex;
    width: fit-content;
    margin: o auto;
  }
.banner img{
  width: 20rem;
  margin: 0 auto;
}

}

/* SRVC */
.srvc {
  background-color: #2b2b2b;
  padding:5rem 0;
}
.srvc .srvc__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}
.srvc .srvc__card {
  text-align: center;
}
  .srvc .srvc__card i{
    color: #ffa700;
    font-size: 5rem;
  }
  .srvc .srvc__card h4{
    color: #ffa700;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 2rem 0;
    }
    .srvc .srvc__card p{
color: #ffffff;
margin-bottom: 5rem;
text-align: justify;
    }

    @media screen and (max-width:500px){
      .srvc .srvc__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 2rem;
        gap: 15rem;
      }
    }

/* LATEST */
.latest{
  background: #2b2b2b;
  padding: 5rem 0;
}
.latest .latest__wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.latest .latest__title h2{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.latest .latest__title p{
  color: #ffffff;
  font-size: 2.5rem;
}
.latest .latest__title{
  margin-bottom: 8rem;
}
.latest .latest__card{
  background-color: #ffffff;
  border-radius: 2rem;
}
.latest .latest__text{
  padding: 1.5rem 2rem;
}
.latest .latest__text h4{
  color: #ffa700;
  font-weight: 600;
}
.latest .latest__text p{
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.latest .latest__text a{
  color: #ffa700;
}
@media screen and (max-width: 500px) {
  .latest .latest__title {
    text-align: center;
  }
  .latest .latest__title h2 {
    font-size: 4rem;
  }
  .latest .latest__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .latest .latest__card {
    margin: 0 2rem;
  }
  .latest .latest__card img {
    width: 100%;
  }
}
/* FREE */
.free{
  background-color: #ffa700;
  padding: 1rem 0;
}
.free .free__wrapper{
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.free .free__wrapper h3{
  color: #2b2b2b;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
}
.free .free__wrapper p{
  color: #2b2b2b;
  font-size: auto;
  padding-bottom: 3rem;
}
.free .free__wrapper a{
background-color: #2b2b2b;
display: inline-block;
padding: 1.5rem 2rem;
text-align: center;
color: #ffffff;
border-radius: 5rem;
font-size: 1rem;
font-weight: 700;

}

/* FOOTER SECTIOON*/
.footer {
  background: #2b2b2b;
  width: 100%;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .footer__social {
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
  gap: 5rem;
}
.footer .footer__wrapper ul li a {
  color: dimgray;
  font-size: 2.5rem;
}
.footer .footer__wrapper ul {
  display: flex;
  gap: 1.25rem;
}
.footer p {
  color: dimgray;
  display: flex;
  align-items: center;
}

/* FOOTER MV */
@media screen and (max-width:500px){
  .footer .footer__wrapper{
    display:flex;
    flex-direction: column;
  }
  }

/* REPEATABLE PATTERNS */
.btn{
  display:inline-block;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  color: #ffffff;
}
.btn:hover {
  scale: 1.1;
}
.btn.bg--primary{
background: #ffa700;
}
/* SECTION3 */
.aboutme {
  padding-top: 5rem;
}
.aboutme .aboutme__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
flex-direction: row-reverse;
  align-items: center;
  gap: 5rem;
}
.aboutme .aboutme__wrapper > :nth-child(1) {
  order: 2;
}
.aboutme .aboutme__wrapper > :nth-child(2) {
  order: 1;
}
.aboutme .aboutme__text h1{
   font-size: 8rem;
  font-weight: 700;
  color: #ffa700;
  line-height: 1;
}
.aboutme .aboutme__text p {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: justify;
}

/* Mobileview */
@media screen and (max-width:500px){
  .aboutme{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .aboutme .aboutme__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .aboutme .aboutme__text {
    order: 2;
  }
  .aboutme .aboutme__text h1 {
    font-size: 3rem;
    text-align: center;
  }
  .aboutme .aboutme__text a {
    display: flex;
    width: fit-content;
    margin: 0% auto;
  }
  .aboutme img {
    width:20rem;
    margin: 0 auto;
  }
}